@font-face{
    font-family: 'Helvetica-Regular', sans-serif;
    src: url(../fonts/Helvetica-Regular.woff2) format('woff2'),
         url(../fonts/Helvetica-Regular.woff) format('woff');
    font-weight: 400;
    font-display: swap;
}