html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Helvetica-Regular', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.container{
    max-width: 707px;
    margin: 0 auto;
    padding: 0 7px;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: 700;
}